{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="h4 mb-3">เข้าสู่ระบบ</h1>
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <button class="btn btn-primary w-100">Login</button>
        </form>
        <div class="text-center mt-3">
          {% if allow_register %}
          <a href="{{ url_for('register') }}">สมัครสมาชิก (สร้างแอดมิน)</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
